{
    "system_name" : "{{ SYSTEM_NAME }}",
    "netdev" : "{{ NETDEV }}",
    "mac_address" : "{{ MAC_ADDRESS }}",
    "ip_address" : "{{ IP_ADDRESS }}",
    "gateway" : "{{ GATEWAY }}",
    "kopts": "{{ KOPTS }}",
    "ksmeta": {
        "ip_address_enp_cobbler": "{{ NETDEV }}",
        "dev_interface": "{{ NETDEV }}"
    },
    "dev_username" : "{{ DEV_USERNAME }}",
    "dev_password" : "{{ DEV_PASSWORD }}"
}
