{
    "system_name": "{{ unit_config.name }}",
    "test_target": "{{ unit_config.target }}",
    "netdev" : "{{ unit_config.network_device }}",
    "mac_address": "{{ unit_config.mac_address }}",
    "ip_address": "{{ unit_config.ip_address }}",
    "gateway": "{{ unit_config.gateway }}",
    "os": "{{ unit_config.os_file }}",
    "kopts": "{{ unit_config.kernel_options }}",
    "installdev": "{{ unit_config.installation_device }}",
    "dev_username" : "{{ unit_config.username }}",
    "dev_password" : "{{ unit_config.password }}"
}
